.section-items .item.name-red .item-name,
.section-items .item.price-red .item-price {
    background: red;
    color: white;
    border: none;
}

.section-items .item.name-green .item-name,
.section-items .item.price-green .item-price {
    background: green;
    color: white;
    border: none;
}

.section-items .item.name-blue .item-name,
.section-items .item.price-blue .item-price {
    background: blue;
    color: white;
    border: none;
}

.section-items .item.name-yellow .item-name,
.section-items .item.price-yellow .item-price {
    background: yellow;
    color: black;
    border: none;
}

.section-items .item.name-orange .item-name,
.section-items .item.price-orange .item-price {
    background: orange;
    color: black;
    border: none;
}


.section-items .item.name-black .item-name,
.section-items .item.price-black .item-price {
    background: black;
    color: white;
    border: none;
}

.section-items .item.name-gray .item-name,
.section-items .item.price-gray .item-price {
    background: gray;
    color: black;
    border: none;
}

.section-items .item.name-lightgray .item-name,
.section-items .item.price-lightgray .item-price {
    background: lightgray;
    color: black;
    border: none;
}

